@import url('fonts.css');

* {
    margin: 0;
    padding: 0;
}

@keyframes load {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

:root {
    --black: #0B0C10;
    --gray: #1F2833;
    --light-gray: #354251;
    --lighter-gray: #C5C6C7;
    --light-cyan: #66FCF1;
    --light-cyanyan: #45A29E;
}

/* Główne */
body {
    background-color: var(--black);
    animation-name: load;
    animation-duration: 0.5s;
}

/* Menu */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    box-sizing: border-box;
    background-color: var(--gray);
    color: white;
    width: 90%;
    margin: 0 auto;
    border-radius: 35px;
    margin-top: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

@keyframes close-menu {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes open-menu {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.menu-header ul li a:visited {
    color: white;
}

.menu-header ul li a {
    color: white;
}

.menu-header ul li a i {
    transition: all 0.1s linear;
}

.menu-header ul li a i:hover {
    color: lightgray;
    font-size: 30px;
    margin: auto;
    transition: all 0.1s linear;
}

.brand {
    display: flex;
    gap: 3px;
    font-family: 'Inter', sans-serif;
}

.navigation-button {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.15s ease-in;
    border-radius: 5px;
}

.navigation-button:hover {
    background-color: rgba(217, 217, 217, 0.3);
    color: rgba(235, 235, 235, 1);
    transition: all 0.15s ease-in;
    cursor: pointer;
}

.nav-button {
    font-size: 25px;
    transition: all .1s linear;
}

.nav-button:hover {
    font-size: 20px;
    transition: all .1s linear;
}

.brand h1 a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.brand span {
    align-self: flex-end;
    font-size: 12px;
}

nav h1 {
    font-size: 25px;
}

.menu-header {
    display: none;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style-type: none;
    font-family: 'Inter', sans-serif;
}

.tippy-content {
    font-family: 'Inter', sans-serif;
}

/* ================================================== */
/* ====================Konsola======================= */

#console-logs {
    width: 90%;
    margin: 20px auto 0 auto;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    height: 700px;
    background-color: var(--gray);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.2);
    overflow: hidden;
}

#console-logs #logs {
    background-color: black;
    height: 97%;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    color: lightgray;
    overflow-y: scroll;
    font-family: 'Space Mono', monospace;
    scroll-behavior: smooth;
}

#logs div {
    font-size: 14px;
}

#console-command {
    width: 90%;
    margin: 20px auto 0 auto;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--gray);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

#console-command input[type="text"] {
    width: 100%;
    background-color: black;
    box-sizing: border-box;
    color: lightgray !important;
    border-radius: 5px;
    padding: 10px;
    border: 0;
    outline: none;
    font-size: 15px;
    font-family: 'Space Mono', monospace;
}

#console-command input[type="text"]::placeholder {
    color: lightgray !important;
    font-family: 'Space Mono', monospace;
}

#console-logs span {
    display: flex;
    font-size: 10px;
    gap: 10px;
    margin-top: 10px;
    align-items: center;
    color: white;
    font-family: 'Inter', sans-serif;
}

/* ================================================== */

#settings {
    width: 90%;
    margin: 0 auto;
    background-color: #4F4557;
    box-sizing: border-box;
    border-radius: 10px;
    color: white;
    margin-top: 20px;
    padding: 10px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-family: 'Inter', sans-serif;
}

.status {
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    gap: 10px;
}

.online-pulse {
    width: 16px;
    height: 16px;
    background-color: green;
    border-radius: 50%;
    animation-name: pulse;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: revert;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(84, 180, 53, 0.2), 0 0 0 0 rgba(84, 180, 53, 0.2);
        transform: scale(.7);
    }
    20% {
        box-shadow: 0 0 0 5px rgba(84, 180, 53, 0.2), 0 0 0 0 rgba(84, 180, 53, 0.2);
        transform: scale(.9);
    }
    40% {
        box-shadow: 0 0 0 5px rgba(84, 180, 53, 0.4), 0 0 0 5px rgba(84, 180, 53, 0.4);
        transform: scale(.8);
    }
    50% {
        box-shadow: 0 0 0 0 rgba(84, 180, 53, 0.4), 0 0 0 5px rgba(84, 180, 53, 0.4);
        transform: scale(.7);
    }
    70% {
        box-shadow: 0 0 0 5px rgba(84, 180, 53, 0.4), 0 0 0 5px rgba(84, 180, 53, 0.4);
        transform: scale(.8);
    }
    80% {
        box-shadow: 0 0 0 5px rgba(84, 180, 53, 0.2), 0 0 0 0 rgba(84, 180, 53, 0.2);
        transform: scale(.9);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(84, 180, 53, 0.2), 0 0 0 0 rgba(84, 180, 53, 0.2);
        transform: scale(.7);
    }
}

/* Dashboard */
#dashboard {
    width: 90%;
    margin: 20px auto 0 auto;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    gap: 20px;
}

#dashboard .item {
    display: flex;
    flex-direction: column;
    width: auto;
    background-color: var(--gray);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 5px 0px black;
    font-family: 'Inter', sans-serif;
    color: white;
    align-items: center;
}

@property --p{
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
  }
  
  .pie {
    --p:20;
    --b:22px;
    --w:150px;
    
    width:var(--w);
    aspect-ratio:1;
    position:relative;
    display:inline-grid;
    margin:5px;
    place-content:center;
    font-size:25px;
    font-weight:bold;
    font-family:sans-serif;
  }
  .pie:before,
  .pie:after {
    content:"";
    position:absolute;
    border-radius:50%;
  }
  .pie:before {
    inset:0;
    background:
      radial-gradient(farthest-side,var(--light-cyan) 98%,#0000) top/var(--b) var(--b) no-repeat,
      conic-gradient(var(--light-cyan) calc(var(--p)*1%),#0000 0);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
            mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
  }
  .pie:after {
    inset:calc(50% - var(--b)/2);
    background:var(--light-cyan);
    transform:rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
  }
  .animate {
    animation:p 1s .5s both;
  }
  .no-round:before {
    background-size:0 0,auto;
  }
  .no-round:after {
    content:none;
  }
  @keyframes p {
    from{--p:0}
  }